  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@400;500&family=Sofia+Sans:wght@300;600;700;800&display=swap');

  ::-webkit-scrollbar {
    display: none;
  }

* {
  margin: 0;
  padding: 0;
}

/* reveal animation section */
.active {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  transition: transform 1s, opacity 1s;
}

.engine  {
  transition: transform 1s, opacity 1s;
}

.car-hidden1 {
  opacity: 0;
  transform: translateX(-8rem);
}
.car-hidden2 {
  opacity: 0;
  transform: translateX(8rem);
}

body {
  box-sizing: border-box;
  font-family: system-ui;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #000000;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.nav.sticky {
  position: fixed;
  background-color: #000000;
  /* backdrop-filter: blur(20px); */
}

.nav__container {
  width: 1300px;
  max-width: 95;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


.logo-container {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container .nav__logo {
  width: 100%;
}

@media (max-width: 450px) {
  .logo-container {
    width: 100px;
    height: 100%;
  }
}

.logo-container .nav__logo {
  width: 100%;
  height: 70%;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  color: #fff;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.nav ul li a {
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #fff;
  opacity: .6;
}

.nav ul li a.active_nav {
  border-bottom: 2px solid red;
  transform: translateX(8rem);
  opacity: 1;
}

@media (max-width: 900px) {
  .nav {
    height: 50px;
  }

  .nav__container {
    /* display: none; */
    gap: 40px;
  }
}

.home_section {
  width: 100%;
}

.home_section-container {
  margin: auto;
  width: 1500px;
  max-width: 90%;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.car__name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
}

.car__name-container h1 {
  font-size: 18rem;
  letter-spacing: 40px;
  color: #424040;
  line-height: 1;
  /* font-family: 'Outfit', sans-serif;} */
}

.car__name-container p {
  font-size: 1.5rem;
  color: #ffd208;
  font-family: 'Lobster', cursive;
}

.home-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* border: 1px solid yellow; */
}

.home-image-container img {
  width: 90%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .home-image-container img {
    width: 100%;
    object-fit: cover;
  }
}

.home-image-content {
  width: 30%;
  justify-content:end;
  align-items: end;
  color: #fff;
  padding: 30px;
  /* border: 1px solid greenyellow; */
}

.home-image-content p:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: right;
}

.home-image-content p:nth-child(2) {
  font-size: 1rem;
  /* font-weight: 600; */
  line-height: 1;
  text-align: right;
  padding: 0.9rem 0;
}

.read-more-btn {
  width: 40%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 15px;
  background-color: rgb(123, 0, 255);
}

.read-more-btn a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 450px) {
  .car__name-container h1 {
    font-size: 4rem;
    letter-spacing: 20px;
  }
  
  .car__name-container p {
    font-size: 1.1rem;
  }

  .home-image-container {
    width: 100%;
    /* border: 1px solid yellow; */
  }

  .home-image-content {
    width: 100%;
    /* border: 1px solid greenyellow; */
  }

  .read-more-btn {
    font-size: .8rem;
    padding: 5;
  }
}

#section--1 {
  width: 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #000000;
  /* border: 1px solid #4612e3; */
}

.dodge__price-section {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 1500px;
  max-width: 90%;
  /* border: 1px solid #2ee312; */
  background-color: #000000;
}

.dodge__price-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: auto; */
  width: 100%;
  /* border: 1px solid #2712e3; */

}

body {
  background-color: #000000;
}

.dodge__price-section h1 {
  font-size: 2.3rem;
  padding-bottom: 3rem;
}

.starting_price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border: 1px solid #8e8d8d;
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  gap: 50px;
}

.starting-price p {
  font-size: 13px;
  color: #a7a4a4;
  padding: 0;
}

.starting-price p .big-text {
  font-size: 2.1rem;
  font-weight: 600;
  color: #fff;
}

.starting-price p .small-text {
  font-size: 11px;
}

.build-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 25%;
}

.build {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #fff;
  width: 100%;
}

@media (max-width: 450px) {
  #section--1 {
    height: 63rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .dodge__price-section h1 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .dodge__price-section {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .dodge__price-section {
    padding: 0;
  }

  .starting_price-container {
    border: none;
  }

  .starting-price p{
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .build-price {
    width: 100%;
  }
}

.build p {
  font-weight: 600;
}

.build i {
  color: #656363;
}


.price__offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 15rem;
  margin: 3rem 0;
  border-radius: 5px;
  /* padding: 1.5rem 2.5rem; */
  gap: 20px;
}

.price__offers .offers {
  width: 30%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8d8d;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}


.offers  {
  text-align: center;
  font-size: .9rem;
}

.offers span {
  font-size: 1.2rem;
  font-weight: 600;
}

.offers a {
  color: #fff;
}

@media (max-width: 450px) {
  .price__offers {
    width: 90%;
  }

  .price__offers .offers {
    width: 100%;
  }
}







#section--2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* border: 1px solid #e31212; */
}

.section2-title p{
  font-size: 3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.performance-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1500px;
  max-width: 90%;
  margin: auto;
}

.performance {
  width: 45%;
}

.performance img {
  width: 80%;
}

.performance-image1 {
  width: 40%;
}

.performance-content-container h1 {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 2rem;
}

.performance-content-container p {
  font-size: 1;
}

.performance-content-container button {
  padding: .6rem;
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 15px 0;
}

.performance-content-container button a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

@media (max-width: 450px) {
  .performance {
    width: 100%;
  } 

  .performance-content-container h1 {
    font-size: 1.5rem;
  }

  .section2-title p{
    font-size: 1.5rem;
  }
}


.engine_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.engine1, .engine2 {
  width: 45%;
  height: 30rem;
}

.engine1 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.engine2 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 450px) {
  .engine_image {
    gap: 40px;
  }
  
  .engine1, .engine2 {
    width: 100%;
    height: 20rem;
    /* border-radius: ; */
  }
}

.dodge_hp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem auto;
}

.dodge_hp-container .horse_power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  /* padding: 20px 0; */
  /* border: solid 1px #fff; */
}

.horse_power h1 {
  font-size: 3.5rem;
  line-height: 1;
  padding-bottom: 10px;
}

.horse_power p {
  font-size: 1rem;
}

.horse_power:nth-child(1) {
  border-right: solid 1px #fff;
}
.horse_power:nth-child(2) {
  border-right: solid 1px #fff;
}

@media (max-width: 450px) {
  .dodge_hp-container {
    margin: 2rem auto;
    gap: 18px;
  }

  .dodge_hp-container .horse_power {
    width: 45%;
    border: none;
  }

  .horse_power h1 {
    font-size: 1.1rem;
  }

  .horse_power p {
    font-size: .7rem;
  }
}

#section--3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

#section-title p {
  font-size: 3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exterior-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  width: 1500px;
  max-width: 90%;
  margin: 30px 0;
  /* border: 1px solid #fff; */
}

.exterior-content {
  width: 30%;
}

.exterior-content h1 {
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 20px;
}
.exterior-content p {
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 20px;
  color: #8e8d8d;
}

.exterior-content button {
  width: 70%;
  border: none;
  outline: none;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}

.exterior-content button a {
  font-size: 1rem;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}

.exterior-image {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exterior-image img {
  width: 90%;
}

@media (max-width: 450px) {
  .section-title p {
    font-size: 2rem;
  }

  .exterior-content {
    width: 100%;
  }

  .exterior-content h1 {
    font-size: 1.5rem;
  }
  .exterior-content p {
    font-size: .8rem;
  }

  .exterior-content button {
    width: 100%;
  }

  .exterior-image {
    width: 100%;
    margin: 20px 0;
  }
}

.back_exterior_image {
  width: 1500px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.back_exterior_image img {
  width: 100%;
}

#section--4 {
  width: 100%;
  margin: 30px 0;
}

.interior-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
  max-width: 90%;
  color: #fff;
  margin: auto;
}

.interior_title p{
  font-size: 2.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.interior-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.interior-image {
  width: 60%;
  height: 30rem;
}

.interior-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interior-content {
  width: 35%;
}

.interior-content h1 {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 20px;
}
.interior-content p {
  font-size: 1.3rem;
  line-height: 1;
  padding-bottom: 20px;
  color: #dedada;
}

.interior-content button {
  width: 70%;
  border: none;
  outline: none;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}

.interior-content button a {
  font-size: 1rem;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 450px) {
  .interior_title p {
    font-size: 2rem;
  }

  .interior-content {
    width: 100%;
  }

  .interior-content h1 {
    font-size: 1.2rem;
  }
  .interior-content p {
    font-size: .9rem;
  }

  .interior-content button {
    width: 100%;
  }

  .interior-image {
    width: 100%;
    margin: 20px 0;
    height: 20rem;
    object-fit: none;
  }
}


#section--5 {
  width: 100%;
  color: #fff;
}

.car_color-section {
  width: 1500px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.color-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.color-section-title h1 {
  font-size: 2.5rem;
  word-spacing: 2px;
  line-height: 1;
}

.color-section-title p {
  font-size: 1rem;
}

.car_color-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.car_price {
  width: 100%;
}

.car_price p {
  font-size: .9rem;
}

.car_price p span {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.car-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  /* border: 1px solid #fff; */
}

.colors-container {
  width: 25%;
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
}

.colors-container p {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.colors {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors .color_name {
  font-size: .9rem;
}

.colors-main_container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 15px;
  padding: 10px;
  background-color: #262525;
  border-radius: 5px;
  box-shadow: 0 7px 8px rgba(138, 136, 136, 0.3);
}

.colors-main_container button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 8px;
}

.colors-main_container button:nth-child(1) {
  background-color: #787676;
}
.colors-main_container button:nth-child(2) {
  background-color: #1259e8;
}
.colors-main_container button:nth-child(3) {
  background-color: #000000;
}
.colors-main_container button:nth-child(4) {
  background-color: #5f5d5d;
}
.colors-main_container button:nth-child(5) {
  background-color: #4a8af0;
}
.colors-main_container button:nth-child(6) {
  background-color: #fb0101;
}
.colors-main_container button:nth-child(7) {
  background-color: #083fc1;
}

.color-car-image-container {
  width: 65%;
}

.color-car-image-container img {
  width: 100%;
}

@media (max-width: 450px) {
  .color-section-title h1 {
    font-size: 1.5rem;
    word-spacing: 2px;
    line-height: 1;
  }
  
  .color-section-title p {
    font-size: .8rem;
  }

  .car_price p {
    font-size: .7rem;
  }
  
  .car_price p span {
    font-size: 1.1rem;
  }

  .colors-container {
    width: 100%;
  }
  
  .color-car-image-container {
    width: 100%;
    margin-top: 30px;
  }
  
  .colors-main_container {
    width: 80%;
    gap: 10px;
  }

  .colors-main_container button {
    width: 50px;
    height: 50px;
    margin: 1px;
  }
}

footer {
  width: 100%;
}

.footer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 40px;
}

.first_footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #282727;
  /* gap: 30px; */
}

.first_footer-links .image-link {
  width: 10%;
}

.image-link img {
  width: 70%;
}

.first_footer-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.first_footer-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  margin: 0 15px;
  color: #fff;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40px;
  /* border: 1px solid #eee; */
  border: 5px;
}

.search-bar input {
  padding: 0 10px;
  width: 70%;
  height: 100%;
  outline: none;
}

.search-bar button {
  width: 30%;
  height: 100%;
  font-size: 1.1rem;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  /* padding: 10px 0; */
}

@media (max-width: 450px) {
  .first_footer-links {
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
  }

  .first_footer-links .image-link {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-link img {
    width: 40%;
  }

  .first_footer-links ul {
    width: 100%;
  }

  .search-bar {
    width: 100%;
    height: 40px;
  }
}

.footer2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  max-width: 90%;
  margin: 20px 0;
  gap: 20px;
  border-bottom: 1px solid #bbb8b8;
}

.footer2-links {
  width: 20%;
  gap: 20px;
}

.footer2-links p {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.footer2-links ul {
  list-style: none;
  padding: 20px 0;
}

.footer2-links ul li {
  margin-bottom: 5px;
}

.footer2-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

.footer2-links ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 450px) {
  .footer2-links {
    width: 40%;
    gap: 20px;
  }

  .footer2-links p {
    font-size: .8rem;
  }

  .footer2-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: .7rem;
  }
}

.footer3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  max-width: 90%;
}

.footer3-container .footerImage {
  width: 10%;
}

.footerImage img {
  width: 100%;
}

.footer3-container ul {
  display: flex;
  flex-wrap: wrap;  
}

.footer3-container ul li {
  list-style: none;
  margin: 0 5px;
}

.footer3-container ul li a {
  font-size: .75rem;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 450px) {
  .footer3-container .footerImage {
    width: 30%;
  }
}